.catalog__list {
    @include indents();
    list-style: none;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 21px;
    grid-row-gap: 23px;

    margin-bottom: 68px;
}

.catalog__item {
    @include indents();
    &:hover {
        box-shadow: 0 -5px 10px #cecece;
    }
    &:active {
        box-shadow: 0 -3px 5px #cecece;
    }
}

.catalog__link-img {
    position: absolute;
    &:hover,
    &:focus {
        // transform: scale(1.006);
        outline: none;
    }
    &:active {
        // transform: scale(1);
    }
}

.catalog__sale {
    @include indents();
    @include font(16px, 39px, 400);
    color: #fff;
    text-align: center;
    position: absolute;
    width: 78px;
    height: 39px;
    top: 34px;
    left: 38px;
    background-color: #E62D2D;
    border-radius: 10px;
    
    display: none;
}

.catalog__like {
    @include indents();
    position: absolute;
    width: 46px;
    height: 41px;
    top: 37px;
    right: 32px;
    border: none;
    background-color: transparent;
    & svg {
        opacity: 0.5;
    }
    &:hover svg {
        cursor: pointer;
        transform: scale(1.1);
    }
    &:focus {
        outline: none;
    }
    &:active svg {
        transform: scale(1);
    }
}


.catalog__notice {
    @include indents();
    @include font(16px, 20px, 700);
    position: absolute;
    top: -30px;
    left: -245px;
    width: 260px;
    height: 20px;
    color: #6EBBD3;
    text-shadow: 0 0 3px #000;
    display: none;
}

.catalog__like--active svg {
    opacity: 1;
}

.catalog__like--notice .catalog__notice{
    display: block;
    opacity: 0;
    animation: like 3s;
}

.catalog__wrapper {
    padding-top: 293px;
    padding-left: 30px;
    width: 380px;
    height: 456px;
    background-color: #F3F3F3;
}

.catalog__link-title {
    display: block;
    color: #000;
    &:focus {
        opacity: 0.6;
        outline: none;
    }
}

.catalog__title {
    @include indents();
    @include font(24px, 29px, 700);
    margin-bottom: 22px;
    transition: 0.1s;
    &:hover {
        opacity: 0.6;
    }
    &:active {
        opacity: 0.3;
    }
}

.catalog__item--disabled {
    &:hover {
        box-shadow: none;
    }
    &:active {
        box-shadow: none;
    }
}

.catalog__item--disabled .catalog__link-img {
    &:hover,
    &:focus {
        transform: none;
        cursor: auto;
    }
    &:active {
        transform: none;
    }
}

.catalog__item--disabled .catalog__link-title {
    &:focus {
        opacity: 1;
        outline: none;
    }
}

.catalog__item--disabled .catalog__title {
    &:hover {
        opacity: 1;
        cursor: auto;
    }
    &:active {
        opacity: 1;
    }
}

.catalog__item--sale .catalog__sale {
    display: block;
}


.catalog__wrapper-info {
    @include indents();
    display: grid;
    grid-template-columns: 131px 100px 89px;
    margin-bottom: 20px;
}

.catalog__color {
    @include indents();
    @include font(12px, 15px, 400);
    position: relative;
    padding-left: 22px;

    &::before {
        content: "";
        position: absolute;
        width: 4px;
        height: 26px;
        left: 0;
        background: #6EBBD3;
    }
}

.catalog__age {
    position: relative;
    @include indents();
    @include font(12px, 15px, 400);
    padding-top: 19px;
}

.catalog__age-value {
    @include indents();
    @include font(16px, 20px, 700);
    position: absolute;
    top: 0px;
    left: 0;
}

.catalog__paws {
    position: relative;
    @include indents();
    @include font(12px, 15px, 400);
    padding-top: 19px;
}

.catalog__paws-value {
    @include indents();
    @include font(16px, 20px, 700);
    position: absolute;
    top: 0px;
    left: 0;
}

.catalog__price {
    @include indents();
    @include font(24px, 29px, 700);
}

.catalog__btn-buy {
    @include indents();
    @include font(16px, 65px, 700);
    color: #fff;
    width: 380px;
    height: 65px;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #6EBBD3;
    transition: 0.1s;

    &--disabled {
        @include indents();
        @include font(16px, 65px, 700);
        color: #fff;
        width: 380px;
        height: 65px;
        border: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: #1F2021;
    }

    &:hover {
        cursor: pointer;
        background-color: #4ea8c4;
    }
    &:active {
        color: #cecece;
        box-shadow: inset 0 0 15px #4391a8;
    }
    &:focus {
        background-color: #4ea8c4;
        outline: none;
    }
}

.catalog__btn-buy--disabled {
    background-color: #1F2021;
}

.catalog__btn-more {
    @include indents();
    @include font(14px, 63px, 400);
    display: block;
    width: 380px;
    height: 65px;
    border: 1px solid #CACACA;
    border-radius: 10px;
    background-color: transparent;
    margin: 0 auto;
    margin-bottom: 83px;
    transition: 0.1s;

    &:hover {
        cursor: pointer;
        background-color: #6EBBD3;
        border: 1px solid #4ea8c4;
        color: #fff;
    }
    &:active {
        box-shadow: inset 0 0 15px #4ea8c4;
    }
    &:focus {
        outline: none;
        background-color: #6EBBD3;
        border: 1px solid #4ea8c4;
        color: #fff;
    }
}


@media (max-width: $tablet-width) {
    .catalog__list {    
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 9px;
        grid-row-gap: 13px;
    
        margin-bottom: 48px;
    }
    
    .catalog__link-img {
        width: 350px;
    }

    .catalog__sale {
        @include font(15px, 34px, 400);
        width: 68px;
        height: 34px;
        top: 28px;
        left: 32px;
    }
    
    .catalog__like {
        top: 23px;
        right: 26px;
        transform: scale(0.9);
    }

    .catalog__notice {
        top: -25px;
        left: -250px;
    }
    
    .catalog__wrapper {
        padding-top: 263px;
        padding-left: 23px;
        width: 350px;
        height: 426px;
    }

    .catalog__btn-buy {
        width: 350px;
    
        &--disabled {
            width: 350px;
        }
    }

    .catalog__btn-more {
        width: 380px;
        height: 65px;

        margin-bottom: 53px;
    }
}

@media (max-width: $mobile-width) {
    .catalog__list {
        display: block;
        margin-bottom: 40px;
    }

    .catalog__item {
        margin-bottom: 12px;
    }

    .catalog__link-img {
        width: 280px;
    }

    .catalog__sale {
        @include font(14px, 30px, 400);
        width: 58px;
        height: 30px;
        top: 18px;
        left: 20px;
    }
    
    .catalog__like {
        top: 11px;
        right: 12px;
        transform: scale(0.8);
    }

    .catalog__notice {
        @include font(15px, 20px, 700);
        top: -19px;
        left: -240px;
        width: 260px;
        height: 20px;
    }

    .catalog__wrapper {
        padding-top: 200px;
        padding-left: 20px;
        width: 280px;
        height: 360px;
    }
    
    .catalog__title {
        @include indents();
        @include font(20px, 29px, 700);
        margin-bottom: 0px;
    }
    
    .catalog__wrapper-info {
        display: block;

        margin-bottom: 15px;
    
    }
    
    .catalog__color {
        @include font(12px, 15px, 400);
        position: relative;
        padding-left: 0px;
        margin-bottom: 24px;
    
        &::before {
            width: 2px;
            height: 240px;
            top: -96px;
            left: 120px;
            transform: rotate(90deg);
        }
    }
    
    .catalog__age {
        display: inline-block;
        width: 120px;
        padding-right: 25px;
    }
    
    .catalog__paws {
        display: inline-block;
        width: 120px;
        padding-right: 25px;
    }
      
    .catalog__price {
        @include font(20px, 26px, 700);
    }
    
    .catalog__btn-buy {
        @include font(16px, 55px, 700);
        width: 280px;
        height: 55px;
    
        &--disabled {
            @include font(16px, 55px, 700);
            width: 280px;
            height: 55px;
        }
    }
    
    .catalog__btn-more {
        @include font(14px, 53px, 400);
        width: 280px;
        height: 55px;
        margin-bottom: 63px;
    }     
}