.sort__title {
    @include indents();
    @include font(38px, 46px, 700);
    position: absolute;
    top: -147px;
    left: 50px;
    color: #fff;
}

.sort__wrapper {
    @include indents();
    display: flex;
    margin-top: 37px;
    margin-bottom: 36px;
}

.sort__select {
    @include indents();
    @include font(18px, 22px, 700);
    padding-right: 48px;
}

.sort__list {
    @include indents();
    display: flex;
    list-style: none;
}

.sort__item {
    position: relative;
    padding-right: 84px;
}

.sort__button {
    @include indents();
    @include font(18px, 22px, 400);
    text-align: start;
    position: absolute;
    
    height: 22px;
    border: none;
    background-color: transparent;

    &--price {
        width: 79px;   
    }

    &--age {
        width: 125px;
        left: 55px;
    }

    &:hover,
    &:focus {
    cursor: pointer;
    opacity: 0.7;
    outline: none;
    }
    &:active {
        opacity: 0.5;
    }

    &:hover .sort__arrow-price,
    &:hover .sort__arrow-age,
    &:focus .sort__arrow-price,
    &:focus .sort__arrow-age {
        fill: #B71515;
    }
}

.sort__arrow-age,
.sort__arrow-price {
    position: absolute;
    right: 0;
    top: 7px;
}

.sort__button--age-asc .sort__arrow-age,
.sort__button--price-asc .sort__arrow-price {
    transform: rotate(180deg);
}

@media (max-width: $tablet-width) {
    .sort__title {
        @include font(24px, 29px, 700);
        top: -85px;
        left: 30px;
    }

    .sort__wrapper {
        @include indents();
        display: flex;
        margin-top: 27px;
        margin-bottom: 36px;
    }

}

@media (max-width: $mobile-width) {
    .sort__title {
        @include indents();
        @include font(20px, 28px, 700);
        position: static;
        color: #000;
        text-align: center;
        margin-bottom: 10px;
    }

    .sort__wrapper {
        @include indents();
        display: block;
    }

    .sort__select {
        @include font(16px, 22px, 700);
        margin-bottom: 8px;
    }

    .sort__list {
        margin-bottom: 20px; 
    }

    .sort__item {
        width: 100px;
        margin-bottom: 20px;
    }
    
    .sort__button {
        @include font(16px, 22px, 400);
    }
}