.sort__title {
    @include indents();
    @include font(38px, 46px, 700);
    position: absolute;
    top: -147px;
    left: 50px;
    color: #fff;
}

.sort__wrapper {
    @include indents();
    display: flex;
    margin-top: 37px;
    margin-bottom: 36px;
}

.sort__select {
    @include indents();
    @include font(18px, 22px, 700);
    padding-right: 48px;
}

.sort__list {
    @include indents();
    display: flex;
    list-style: none;
}

.sort__item {
    @include font(18px, 22px, 400);
    position: relative;
    padding-right: 84px;
}
.sort__item p {
    @include indents();
}

.sort__button {
    position: absolute;
    width: 30px;
    height: 20px;
    border: none;
    background: transparent url("../img/Vector.svg") no-repeat center;

    &--price {
        top: 2px;
        left: 62px;
    }

    &--age {
        top: 2px;
        left: 108px;
    }

    &:hover,
    &:focus {
    cursor: pointer;
    opacity: 0.6;
    }
}

@media (max-width: $tablet-width) {
    .sort__title {
        @include font(24px, 29px, 700);
        top: -85px;
        left: 30px;
    }

    .sort__wrapper {
        @include indents();
        display: flex;
        margin-top: 27px;
        margin-bottom: 36px;
    }

    .sort__button {
        width: 40px;
        height: 40px;
        border: none;
        background: transparent url("../img/Vector.svg") no-repeat center;
    
        &--price {
            top: -8px;
            left: 52px;
        }
    
        &--age {
            top: -8px;
            left: 98px;
        }
    }
}

@media (max-width: $mobile-width) {
    .sort__title {
        @include indents();
        @include font(20px, 28px, 700);
        position: static;
        color: #000;
        text-align: center;
        margin-bottom: 10px;
    }

    .sort__wrapper {
        @include indents();
        display: block;
    }

    .sort__select {
        @include font(16px, 22px, 700);
        margin-bottom: 8px;
    }


    .sort__item {
        @include font(16px, 22px, 400);
        width: 140px;
        margin-bottom: 20px;
    }
    
    .sort__button {
        width: 40px;
        height: 40px;
    
        &--price {
            top: -9px;
            left: 50px;
        }
    
        &--age {
            top: -9px;
            left: 88px;
        }
    }
}