.subscribe {
    display: flex;
    justify-content: space-between;
    height: 312px;
    background: #1F2021;
    padding: 0 80px;
    margin-bottom: 114px;
}

.subscribe__title {
    @include indents();
    @include font(48px, 59px, 700);
    color: #fff;
    margin-top: 83px;
    margin-bottom: 26px;
}

.subscribe__text {
    @include indents();
    @include font(28px, 26px, 400);
    color: #fff;
    width: 401px;
}

.subscribe__form {
    position: relative;
    margin-top: 83px;
}

.subscribe__email {
    font: inherit;
    
    width: 300px;
    height: 65px;
    background: #FFFFFF;
    border: none;
    border-radius: 10px;

    padding-left: 36px;
    margin-top: 6px;
    margin-right: 10px;
}

.subscribe__email::placeholder {
    @include font(14px, 17px, 400);
    color: #000;
    transition: 0.1s;
}

.subscribe__email:hover.subscribe__email::placeholder {
    transform: scale(1.1);
    padding-left: 10px;
}

.subscribe__checkbox + label {
    color: #fff;
    position: absolute;
    top: 96px;
    left: 36px;

    &::before {
        position: absolute;
        left: -36px;
        top: -2px;
        content: "";
        width: 18px;
        height: 18px;
        background-color: #6EBBD3;
        border-radius: 3px;
        
    } 
    &:hover {
        cursor: pointer;
    }
}

.subscribe__checkbox:checked + label {

    &::after {
        position: absolute;
        left: -36px;
        top: -2px;
        content: "";
        width: 18px;
        height: 18px;
        background:  #6EBBD3 url("../img/Vector-2.svg") no-repeat center;
        background-image: url("../img/Vector-2.svg");
        border-radius: 3px;
    }
}

.subscribe__checkbox:hover + label::before,
.subscribe__checkbox:hover + label::after {
    cursor: pointer;
    background-color: #37a3c2;
}

.subscribe__checkbox:focus + label::before,
.subscribe__checkbox:focus + label::after {
    background-color: #37a3c2;
}

.subscribe__btn {
    display: inline-block;
    @include indents();
    @include font(14px, 65px, 700);
    color: #fff;
    width: 250px;
    height: 65px;
    background: #6EBBD3;
    border: none;
    border-radius: 10px;
    transform: translateY(-1px);
    &:hover {
        cursor: pointer;
        background-color: #50acc7;
    }
    &:active {
        color: #cecece;
    }
    &:focus {
        background-color: #50acc7;
        outline: none;
    }
}

@media (max-width: $tablet-width) {
    .subscribe {
        height: 226px;
        padding: 0 40px;
        margin-bottom: 60px;
    }
    
    .subscribe__title {
        @include font(38px, 49px, 700);
        margin-top: 55px;
        margin-bottom: 16px;
    }
    
    .subscribe__text {
        @include font(22px, 20px, 400);
        width: 320px;
    }
    
    .subscribe__form {
        position: relative;
        margin-top: 48px;
        margin-left: 43px;
    }
    
    .subscribe__email {    
        width: 260px;
        height: 55px;
    
        padding-left: 26px;
        margin-bottom: 10px;
    }
    
    .subscribe__checkbox + label {
        display: none;
        
    }
    
    .subscribe__btn {
        @include font(14px, 55px, 700);
        color: #fff;
        width: 260px;
        height: 55px;
    }
}

@media (max-width: $mobile-width) {
    .subscribe {
        display: block;
        height: auto;
        background: #1F2021;
        padding: 0 20px;
    }
    
    .subscribe__title {
        @include font(28px, 39px, 700);
        text-align: center;
        width: 240px;
        padding-top: 20px;
        margin-bottom: 12px;
        margin: 0 auto;
    }
    
    .subscribe__text {
        @include font(18px, 26px, 400);
        text-align: center;
        width: 240px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    
    .subscribe__form {
        width: 280px;
        margin-top: 23px;
        margin: 0 auto;
        padding-bottom: 40px;
    }
    
    .subscribe__email {        
        width: 280px;
        height: 55px;
        margin: 0 auto;
        margin-bottom: 12px;
    }
    
    .subscribe__btn {
        display: block;
        @include font(14px, 55px, 700);
        color: #fff;
        width: 280px;
        height: 55px;
    }
}
