/* montserrat-regular - cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v15-cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v15-cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v15-cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v15-cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v15-cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v15-cyrillic-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
/* montserrat-700 - cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v15-cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v15-cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v15-cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v15-cyrillic-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v15-cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v15-cyrillic-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    font-family: 'Montserrat', sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.container,
.footer-container {
    @include indents();
    position: relative;
    width: 1280px;
    padding: 0 50px;
    margin: 0 auto;
    background-color: #fff;
}

.scroll {
    position: fixed;
    width: 59px;
    height: 59px;
    top: 85vh;
    right: 50px;
    background: url("../img/Vector-1.svg") no-repeat 20.5px 23.5px  #6EBBD3;
    border: none;

    &:hover {
        cursor: pointer;
        background-color: #4ea8c4;
    }
    &:active {
        opacity: 0.8;
    }
    &:focus {
        background-color: #4ea8c4;
        outline: none;
    }  
}

.scroll--hidden {
    display: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@keyframes shake {
    0%,
    100% {
      transform: translate(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate(-2px);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translate(2px);
    }
}

@keyframes like {
    0%  { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; transform: translateY(0px);}
    99% { opacity: 0; transform: translateY(-15px);}
    100% { opacity: 0; }
    
}


@media (max-width: $tablet-width) {
    .container,
    .footer-container {
        width: 768px;
        padding-right: 30px;
        padding-left: 30px;
    }

    .scroll {
        border-radius: 10px;
        right: 50px;
    }
}

@media (max-width: $mobile-width) {
    .container {
        width: 320px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .footer-container {
        @include indents();
        width: 100%;
    }

    .scroll {
        width: 49px;
        height: 49px;
        background-position: 15px 18px;
        top: auto;
        bottom: 10vh;
        right: 20px;
    }
}

